<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'shaker/style.css' %}">-->
    <title>Index</title>
</head>
<body>
{% if messages %}
<h2>{{ message }}</h2>
{% endif %}

{% if user.is_authenticated %}
{{ user }}
<a href="{% url 'shaker:logout' %}">Logout</a>
{% else %}
Please, <a href="{% url 'shaker:login' %}">login</a> or <a href="{% url 'shaker:registration' %}">create account</a>.
{% endif %}

<h1>Welcome to database drinks</h1>

{% if drinks_list %}
  <ul>
    {% for drinks in drinks_list %}
      <li><a href="{% url 'shaker:drinks' drinks.id %}"> {{ drinks.name_drink }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>no drinks are available</p>
{% endif %}

<a href="{% url 'shaker:search' %}">Search Drink</a><br>

<a href="{% url 'shaker:add' %}">Add drink</a><br>
<a href="{% url 'shaker:list_drinks' %}">List Drinks</a><br>

</form>

</body>
</html>