<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'shaker/style.css' %}">-->
    <title>Index</title>
</head>
<body>
{% if messages %}
<h2>{{ message }}</h2>
{% endif %}

<h1>Welcome to database drinks</h1>

{% if drinks_list %}
  <ul>
    {% for drinks in drinks_list %}
      <li><a href="{% url 'shaker:drinks' drinks.id %}"> {{ drinks.name_drink }}, {{ drinks.pub_date }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>no drinks are available</p>
{% endif %}

<a href="{% url 'shaker:add' %}">Add drink</a><br>
<a href="{% url 'shaker:list_drinks' %}">List Drinks</a>



</form>

</body>
</html>